<h1>Your Task History:</h1>

<div class="user-sp-container">
    <ul class="ut-sl">
        <% @tasks.each do |t| %>
            <li><%= link_to t.description, task_path(t) %></li>
        <% end %>
    </ul>
</div>