<div class='form-container'>
   <h1> Request a Task </h1>

   <%= render 'form' %>
</div>

<p>Workers and their skills:</p>
<ul>
   <% Worker.all.each do |worker| %>
      <li><b><%= worker.name %></b>
         <ul>
            <% worker.skills.each do |skill| %>
               <li><i><%= skill.name %></i></li>
            <% end %>
         </ul>
      </li>
   <% end %>
</ul>
