/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
   background-color: rgb(101, 146, 228);
}

.nav-bar {
   width: 100%;
}

.nav-list {
   position: fixed;
   top: 0;
   width: 95%;
   z-index: 2000;
   background-color: rgba(101, 145, 228, 0.925);
   border-style: ridge;
   border-color: #eb801ce0;
   border-radius: 50px;
}

.nav-tabs {
   color: white;
   font-family: 'Nunito', sans-serif;
   display: inline-block;
   text-decoration: none;
   font-size: 15px;
   margin-right: 15px;
   padding: 5px 20px;
}

.logo {
   font-size: 40px;
   text-shadow: 5px 5px #eb801ce0;
}

.nav-list li {
   text-decoration: none;
   color: white;
}

.nav-list li a:visited {
   text-decoration: none;
   color: white;
}

.right {
   text-decoration: none;
   float: right;
   padding-top: 31px;
   padding-right: 40px;
}

.container {
   margin-top: 100px;
}
