<h3>Your Reviews:</h3>
<div class="user-sp-container">
    <ul class="ut-list">
        <% @reviews.each do |r|%>
            <div class="review-containter">
                <h3><%= r.title %></h3>
                <p id="review-content">Worker: <%= r.worker.name %></p>
                <p id="review-content"><%= r.content %></p>
            </div>
        <% end %>
    </ul>
</div>
